Scene(
    hdr: Some("C:\\Git_Projects\\Rust-Raytracer\\scene\\HDR\\gear_store_2k.hdr"),
    camera: (
        position: (10.0, 5.0, -10.0),
        lookat: (0.0, -0.5, 0.0),
        fov: 30.0,
        focus_dist: 15.0,
        apeture: 0.1,
    ),
    materials: {
        "steel": (
            surface_type:"metal",
            albedo: (0.7, 0.7, 0.7),
            roughness: Some(0.1),
            reflectance: Some(0.5),
        ),
        "glass": (
            surface_type:"dielectric",
            albedo: (0.3,0.1,0.2),
            refractive_index: Some(1.52),
        ),
        "diffuse": (
            surface_type: "lambertian",
            albedo: (0.7, 0.7, 0.7),
        ),
        "light": (
            surface_type: "lambertian",
            albedo: (2.0, 2.0, 2.0),
        ),
        "red_diffuse": (
            surface_type: "lambertian",
            albedo: (1.0, 0.0, 0.0),
        ),
        "green_diffuse": (
            surface_type: "lambertian",
            albedo: (0.0, 1.0, 0.0),
        ),
        "blue_diffuse": (
            surface_type: "lambertian",
            albedo: (0.0, 0.0, 1.0),
        )
    },
    objects: [
        (
            name: Some("sphere1"),
            shape: "sphere",
            position: (-0.9, -1.0, -0.6),
            radius: Some(1.0),
            material: "steel"
        ),
        (
            name: Some("box1"),
            shape: "axis_box",
            position: (1.0, -0.675, 0.5),
            size: Some((1.25, 2.5, 1.25)),
            material: "diffuse"
        ),
        (
            name: Some("right_wall"),
            shape: "axis_box",
            position: (-2.0, 0.0, 0.0),
            size: Some((0.1, 4.0, 4.0)),
            material: "green_diffuse"
        ),
        (
            name: Some("back_wall"),
            shape: "axis_box",
            position: (0.0, 0.0, 2.0),
            size: Some((4.0, 4.0, 0.1)),
            material: "red_diffuse"
        ),
        (
            name: Some("floor"),
            shape: "axis_box",
            position: (0.0, -2.0, 0.0),
            size: Some((4.0, 0.1, 4.0)),
            material: "diffuse"
        ),
        (
            name: Some("ceil"),
            shape: "axis_box",
            position: (0.0, 1.95, 0.0),
            size: Some((4.0, 0.1, 4.0)),
            material: "glass"
        )
    ],
)
