Scene(
    hdr: Some("C:\\Git_Projects\\Rust-Raytracer\\scene\\HDR\\studio_small_08_2k.hdr"),
    camera: (
        position: (20.0, 10.0, -20.0),
        lookat: (0.0, -0.25, 0.0),
        fov: 12.0,
        focus_dist: 30.0,
        apeture: 1.5,
    ),
    materials: {
        "steel": Metal(
            (0.7, 0.7, 0.7),  // albedo
            Some(0.05),       // roughness
        ),
        "glossy": Glossy(
            (0.7, 0.7, 0.7),  // albedo
            Some(0.05),       // roughness
            Some(1.5),        // reflectance
        ),
        "glass": Dielectric(
            (0.6, 0.1, 0.25), // absorption
            Some(1.52),       // refractive index
            Some(0.0),        // roughness
        ),
        "diffuse": Lambertian(
            (0.7, 0.7, 0.7),  // albedo
        ),
        "light": Lambertian(
            (2.0, 2.0, 2.0),  // albedo
        ),
        "red_diffuse": Lambertian(
            (0.75, 0.05, 0.05),  // albedo
        ),
        "green_diffuse": Lambertian(
            (0.05, 0.70, 0.05), // albedo
        ),
        "blue_diffuse": Lambertian(
            (0.05, 0.1, 0.85),  // albedo
        )
    },
    objects: [
        (
            name: Some("sphere1"),
            shape: Sphere(
                (-0.5, -0.9, -1.0),  // position
                Some(1.0),           // radius
            ),
            material: "steel"
        ),
        (
            name: Some("box1"),
            shape: AxisBox(
                (1.0, -0.65, 0.7),      // position
                Some((1.25, 2.5, 1.25)) // dimensions
            ),
            material: "diffuse"
        ),
        (
            name: Some("right_wall"),
            shape: AxisBox(
                (-2.0, 0.1, 0.0),       // position
                Some((0.1, 4.0, 4.0)),  // dimensions
            ),
            material: "green_diffuse"
        ),
        (
            name: Some("back_wall"),
            shape: AxisBox(
                (0.0, 0.1, 2.0),        // position
                Some((4.0, 4.0, 0.1)),  // dimensions
            ),
            material: "red_diffuse"
        ),
        (
            name: Some("Tri"),
            shape: Triangle(
                (
                    (0.0, 0.0, 0.0),   // vertex A
                    (-1.0, 0.0, -1.0), // vertex B
                    (0.0, 1.0, -1.0),  // vertex C
                )
            ),
            material: "diffuse",
        ),
        (
            name: Some("base"),
            shape: AxisBox(
                (0.0, -2.151, 0.0),      // position
                Some((16.0, 0.1, 16.0)), // dimensions
            ),
            material: "diffuse"
        ),
        (
            name: Some("floor"),
            shape: AxisBox(
                (0.0, -2.0, 0.0),        // position
                Some((4.05, 0.2, 4.05)), // dimensions
            ),
            material: "glass"
        ),
        (
            name: Some("ceil"),
            shape: AxisBox(
                (0.0, 2.1, 0.0),         // position
                Some((4.05, 0.1, 4.05)), // dimensions
            ),
            material: "glass"
        )
    ],
)
