Scene(
    hdr: None,
    camera: (
        position: (0.5, -0.2, -4.0),
        lookat: (0.0, 0.0, 0.0),
        fov: 60.0,
        focus_dist: 4.0,
        apeture: 0.01,
    ),
    materials: {
        "steel": (
            surface_type:"metal",
            albedo: (0.7, 0.7, 0.7),
            roughness: Some(0.05),
        ),
        "glossy": (
            surface_type:"glossy",
            albedo: (0.7, 0.7, 0.7),
            roughness: Some(0.05),
            reflectance: Some(1.5),
        ),
        "glass": (
            surface_type:"dielectric",
            albedo: (0.6, 0.1, 0.25),
            refractive_index: Some(1.52),
        ),
        "diffuse": (
            surface_type: "lambertian",
            albedo: (0.7, 0.7, 0.7),
        ),
        "light": (
            surface_type: "lambertian",
            albedo: (8.0, 8.0, 8.0),
        ),
        "black": (
            surface_type: "lambertian",
            albedo: (0.0, 0.0, 0.0),
        ),
        "red_diffuse": (
            surface_type: "lambertian",
            albedo: (1.0, 0.0, 0.0),
        ),
        "green_diffuse": (
            surface_type: "lambertian",
            albedo: (0.0, 1.0, 0.0),
        ),
        "blue_diffuse": (
            surface_type: "lambertian",
            albedo: (0.0, 0.0, 1.0),
        )
    },
    objects: [
        (
            name: Some("sphere1"),
            shape: "sphere",
            position: (1.5, -1.0, 2.5),
            radius: Some(1.0),
            material: "steel"
        ),(
            name: Some("sphere2"),
            shape: "sphere",
            position: (-1.5, -1.0, 0.5),
            radius: Some(1.0),
            material: "glass"
        ),(
            name: Some("ceil"),
            shape: "axis_box",
            position: (0.0, 3.25, 0.0),
            size: Some((6.0, 0.5, 10.0)),
            material: "diffuse"
        ),(
            name: Some("floor"),
            shape: "axis_box",
            position: (0.0, -2.25, 0.0),
            size: Some((6.0, 0.5, 10.0)),
            material: "diffuse"
        ),(
            name: Some("left_wall"),
            shape: "axis_box",
            position: (3.25, 0.0, 0.0),
            size: Some((0.5, 6.0, 10.0)),
            material: "green_diffuse"
        ),(
            name: Some("right_wall"),
            shape: "axis_box",
            position: (-3.25, 0.0, 0.0),
            size: Some((0.5, 6.0, 10.0)),
            material: "red_diffuse"
        ),(
            name: Some("back_wall"),
            shape: "axis_box",
            position: (0.0, 0.0, 5.25),
            size: Some((6.0, 6.0, 0.5)),
            material: "diffuse"
        ),(
            name: Some("front_wall"),
            shape: "axis_box",
            position: (0.0, 0.0, -5.25),
            size: Some((6.0, 6.0, 0.5)),
            material: "black"
        ),(
            name: Some("light"),
            shape: "axis_box",
            position: (0.0, 3.0, 1.0),
            size: Some((2.0, 0.05, 3.0)),
            material: "light"
        ),
        // (
        //     name: Some("light"),
        //     shape: "sphere",
        //     position: (0.0, 52.98, 1.0),
        //     radius: Some(50.0),
        //     material: "light"
        // ),
    ],
)
