Scene(
    hdr: None,
    camera: (
        position: (0.0, 0.0, -22.0),
        lookat: (0.0, 0.0, 0.0),
        fov: 34.0,
        focus_dist: 8.0,
        apeture: 0.01,
    ),
    materials: {
        "steel": Metal(
            (0.7, 0.7, 0.7),
            Some(0.05),
        ),
        "glossy": Glossy(
            (0.7, 0.7, 0.7),
            Some(0.05),
            Some(1.5),
        ),
        "glass": Dielectric(
            (0.6, 0.1, 0.25),
            Some(1.52),
            Some(0.0)
        ),
        "diffuse": Lambertian(
            (0.73, 0.73, 0.73),
        ),
        "light": Lambertian(
            (15.0, 15.0, 15.0),
        ),
        "black": Lambertian(
            (0.05, 0.05, 0.05),
        ),
        "red_diffuse": Lambertian(
            (0.65, 0.05, 0.05),
        ),
        "green_diffuse": Lambertian(
            (0.12, 0.45, 0.15),
        ),
        "blue_diffuse": Lambertian(
            (0.05, 0.1, 0.85),
        )
    },
    objects: [
        (
            name: Some("box1"),
            shape: Box(
                (1.6, -2.0, 1.5),
                Some((3.0, 6.0, 3.0)),
                Some((0.0, -0.24, 0.0)),
            ),
            material: "diffuse"
        ),
        (
            name: Some("box2"),
            shape: Box(
                (-1.8, -3.5, -1.8),
                Some((3.0, 3.0, 3.0)),
                Some((0.0, 0.32, 0.0)),
            ),
            material: "diffuse"
        ),
        (
            name: Some("room"),
            shape: AxisBox(
                (0.0, 0.0, -10.0),
                Some((-11.0, -11.0, -40.0)),
            ),
            material: "black"
        ),
        (
            name: Some("ceil"),
            shape: AxisBox(
                (0.0, 5.0, 0.0),
                Some((10.0, 0.01, 10.0)),
            ),
            material: "diffuse"
        ),
        (
            name: Some("floor"),
            shape: AxisBox(
                (0.0, -5.0, 0.0),
                Some((10.0, 0.01, 10.0)),
            ),
            material: "diffuse"
        ),
        (
            name: Some("left_wall"),
            shape: AxisBox(
                (5.0, 0.0, 0.0),
                Some((0.01, 10.0, 10.0)),
            ),
            material: "green_diffuse"
        ),
        (
            name: Some("right_wall"),
            shape: AxisBox(
                (-5.0, 0.0, 0.0),
                Some((0.01, 10.0, 10.0)),
            ),
            material: "red_diffuse"
        ),
        (
            name: Some("back_wall"),
            shape: AxisBox(
                (0.0, 0.0, 5.0),
                Some((10.0, 10.0, 0.01)),
            ),
            material: "diffuse"
        ),
        (
            name: Some("light"),
            shape: AxisBox(
                (0.0, 4.99, 0.5),
                Some((2.8, 0.01, 2.8)),
            ),
            material: "light"
        )
    ],
)
