Scene(
    hdr: Some(".\\scene\\HDR\\small_cathedral.hdr"),
    camera: (
        position: (0.0, 0.5, -5.0),
        lookat: (0.0, 1.0, 0.0),
        fov: 50.0,
        focus_dist: 5.0,
        apeture: 0.1,
    ),
    materials: {
        "stainless steel": Metal(
            (0.58, 0.56, 0.57),
            Some(0.2),
        ),
        "glass": Dielectric(
            (0.6, 0.1, 0.25),
            Some(1.52),
            Some(0.1),
        ),
        "glossy": Glossy(
            (0.85, 0.82, 0.77),
            Some(0.95),
            Some(0.2),
        ),
        "glossy_yellow": Glossy(
            (0.85, 0.82, 0.18),
            Some(0.95),
            Some(0.2),
        ),
        "glossy_pink": Glossy(
            (0.85, 0.18, 0.77),
            Some(0.95),
            Some(0.2),
        ),
        "wood": Glossy(
            (0.51, 0.29, 0.14),
            Some(0.6),
            Some(0.4),
        ),
        "glossy_teal": Glossy(
            (0.14, 0.82, 0.93),
            Some(1.52),
            Some(0.2),
        ),
        "diffuse": Lambertian(
            (0.85, 0.82, 0.77),
        ),
        "light": Lambertian(
            (10.0, 9.0, 7.0),
        ),
        "black": Lambertian(
            (0.05, 0.05, 0.05),
        ),
    },
    objects: [
        (
            name: Some("table"),
            shape: AxisBox(
                (0.0, -0.004, 0.0),
                Some((10.0, 0.01, 10.0)),
            ),
            material: "wood",
        ),
        (
            name: Some("diamond"),
            shape: Mesh(
                ".\\scene\\models\\diamond\\diamonds1.obj", // file path
                Some((0.0, 0.0, 0.0)),  // translation
                Some((1.0, 1.0, 1.0)),  // scale
                Some((0.0, -0.7, 0.0)),  // rotation
                false,  // cull backface
            ),
            material: "glass",
        )
    ],
)
